body {
  /*!
   * Photo by Ales Krivic
   * https://www.pexels.com/photo/background-beautiful-clouds-cloudscape-552789/
   * https://www.pexels.com/photo-license/
   */
  height: 100%;
  width: 100%;
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

h2 {
  font-size: 1.5em;
}

hr {
  background-color: rgba(0, 0, 0, 1);
  border: 0;
  display:block;
  height: 1px;
  width: 75%;
}

.brand {
  font-family: "Kaushan Script", Georgia, serif;
  font-size: 1.9em;
  margin: 0;
  padding: 20px 0 5px 0;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8);
}

.brand, .brand a, .sub-brand, .sub-brand a {
  background-color: transparent;
  color: rgba(220, 130, 30, 1);
  text-align: center;
}

.btn-warning {
  background-color: rgba(220, 130, 30, 1);
  border-color: rgba(0, 0, 0, 1);
}

.card {
  background-color: transparent;
  border-color: transparent;
}

.card-background {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0;
  margin: 15px 0;
  padding: 30px;
}

.card-sub-title, .card-text {
  font-family: "Verdana", sans-serif;
  font-weight: 600;
}

.card-sub-title {
  color: rgba(220, 130, 30, 1);
  font-size: 1em;
  margin: 0;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

.card-text {
  font-size: 0.8em;
  text-align: justify;
}

.card-text-center, .list-center {
  font-family: "Verdana", sans-serif;
  font-size: 0.8em;
  font-weight: 600;
  text-align: center;
}

.card-title {
  font-family: "Kaushan Script", Georgia, serif;
  text-align: center;
}

.footer-fixed {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 0.8em;
  height: 105px;
  margin-top: 30px;
  padding: 15px 0 5px 0;
  text-align: center;
  width: 100%;
}

.img-about {
  /*!
   * Photo by Andrea Cirrito
   */
  background-image: url("../images/about.jpg");
  background-position: center;
  margin-bottom: 30px;
}

.img-about, .img-bridge, .img-dog, .img-rocks, .img-silhouette, .img-therapy {
  background-repeat: no-repeat;
  background-size: cover;
  height: 14em;
  margin: auto;
  width: 100%;
}

.img-bridge {
  /*!
   * Photo by Snapwire
   * https://www.pexels.com/photo/beautiful-bridge-daylight-environment-234510/
   * https://www.pexels.com/photo-license/
   */
  background-image: url("../images/bridge.jpg");
  background-position: bottom;
  margin-top: 15px;
}

.img-dog {
  /*!
   * Photo by Pixabay
   * https://www.pexels.com/photo/golden-retriever-dog-wearing-red-collar-56012/
   * https://www.pexels.com/photo-license/
   */
  background-image: url("../images/dog.jpg");
  background-position: 20%;
  margin-top: 15px
}

.img-rocks {
  /*!
   * Photo by Pixabay
   * https://www.pexels.com/photo/balance-macro-ocean-pebbles-235990/
   * https://www.pexels.com/photo-license/
   */
  background-image: url("../images/rocks.jpg");
  background-position: 90%;
  margin-top: 15px;
}

.img-silhouette {
  /*!
   * Photo by Pixabay
   * https://www.pexels.com/photo/backlit-beach-clouds-dawn-531089/
   * https://www.pexels.com/photo-license/
   */
  background-image: url("../images/silhouette.jpg");
  background-position: 35%;
  margin-bottom: 30px;
}

.img-therapy {
  /*!
   * Photo by Pixabay
   * https://www.pexels.com/photo/aromatherapy-bamboo-basket-candlelight-259810/
   * https://www.pexels.com/photo-license/
   */
  background-image: url("../images/therapy.jpg");
  background-position: 70%; 
  margin-bottom: 30px;
}

.list-center {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: rgba(255, 255, 255, 0.7);
  margin-bottom: 30px;
}

.navbar .navbar-nav li {
  font-family: "Verdana", sans-serif;
  font-weight: 600;
}

.navbar .navbar-nav .nav-item:hover .nav-link {
  color: rgba(220, 130, 30, 1);
}

.navbar .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 1);
}

.sub-brand {
  font-family: "Verdana", Helvetica, sans-serif;
  font-size: 1.2em;
  margin: 0 0 20px 0;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

@media (min-width: 576px) {
  .brand {
    font-size: 2.8em;
  }
  .card-sub-title {
    font-size: 1.4em;
  }
  .card-text, .card-text-center, .list-center {
    font-size: 1em;
  }
  .img-about, .img-bridge, .img-dog, .img-rocks, .img-silhouette, .img-therapy {
    height: 16em;
    width: 80%;
  }
  .sub-brand {
    font-size: 1.6em;
  }
}

@media (min-width: 992px) {
  body {
    background-attachment: fixed;
  }
  h2 {
    font-size: 2em;
  }
  .brand {
    font-size: 4em;
  }
  .footer-fixed {
    font-size: 1em;
  }
  .img-about {
    height: 36em;
    width: 100%;
  }
  .img-bridge {
    height: 28em;
    width: 100%;
  }
  .img-dog, .img-rocks, .img-silhouette, .img-therapy {
    height: 22em;
    width: 100%;
  }
  .img-dog, .img-rocks {
    margin-top: 0;
  }
  .img-silhouette, .img-therapy {
    margin-bottom: 0;
  }
  .navbar .navbar-nav li {
    margin: 0 10px;
  }
  .social-fb {
    display: none;
  }
  .sub-brand {
    font-size: 2em;
  }
}